#header {
    width: 596px;
    height: 35px;
    background: url(/images/sl-title.png) no-repeat;
    overflow: hidden;
}
#header span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
#vampheader {
    width: 476px;
    height: 35px;
    position: relative;
    background: url(/images/vamp-title.png) no-repeat;
}
#vampheader span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}
body {
    margin: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 2em;
    border-right-width: 2em;
    border-left-style: solid;
    border-right-style: solid;
    border-left-color: #ef6a35;
    border-right-color: #ef6a35;
    background-color: #ffffff;
    padding-top: 1.4em;
    padding-bottom: 20em;
    padding-left: 2em;
    padding-right: 2em;
    color: #303030;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
p,td,ul,ol,li,blockquote { 
    font-size: 1em;
    font-style: normal;
}
h2 { 
    margin-top: 1.2em;
    padding-top: 1em;
    border-top-width: 4px;
    border-top-style: double;
    border-top-color: #ef6a35;
}
h3 { 
    margin-top: 1.2em;
    padding-top: 1em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #ef6a35;
}
h3.first { 
    margin-top: 1.2em;
    padding-top: 0em;
    border-top-width: 0px;
}
#firstpara {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #ef6a35;
    padding-top: 1em;
}
#logoblock {
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #ef6a35;
    font-size: 0.9em;
}
#nav {
    position: relative;
    float: right;
    top: 1.8em;
    color: #ef6a35;
    margin-left: 1em;
    padding-left: 1em;
    margin-bottom: 3em;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #ef6a35;
    /*  text-align: right;*/
}
#nav ul {
    /*  display: inline; */
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bold;
}
#nav ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ef6a35;
}
a:visited {
    text-decoration: none;
    color: #ef6a35;
}
a:hover {
    text-decoration: underline;
    color: #ef6a35;
}
.logoleft { 
    float: left;
    padding-right: 2em;
    padding-bottom: 2em;
}
.logoright { 
    float: right;
    padding-left: 2em;
    padding-bottom: 2em;
}
#reference-toc {
    position: fixed;
    left: 2.5em;
    width: 24%;
    top: 0;
    bottom: 0;
    padding-top: 2.8em;
    padding-bottom: 2em;
    overflow-y: auto;
    overflow-x: hidden;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #ef6a35;
}
#reference-content {
    margin-left: 27.5%;
}
.toc1,.toc2,.toc3,.toc4 { 
    font-size: 0.8em;
    font-style: normal;
    font-weight: bold;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}
code {
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', 'Fira Mono', 'Andale Mono', monospace;
    font-size: 0.9em;
}
.toc2 { 
    padding-left: 2em;
}
.toc3 { 
    padding-left: 4em;
}
.toc4 { 
    padding-left: 6em;
    display: none;
}
img.icon {
    margin-bottom: -0.4em;
    margin-top: -0.2em;
    margin-left: -0.2em;
    margin-right: -0.2em;
}
img.left-modest {
    float: left;
    max-width: 40%;
    padding-right: 1em;
    margin-bottom: 0.5em;
}
img.left-very-modest {
    float: left;
    max-width: 32%;
    padding-right: 1em;
    margin-bottom: 0.5em;
}
img.left-wider {
    float: left;
    clear: both;
    max-width: 55%;
    padding-right: 1em;
    margin-bottom: 0.5em;
}
img.right-modest {
    float: right;
    max-width: 40%;
    padding-left: 1em;
    margin-bottom: 0.5em;
}
img.right-very-modest {
    float: right;
    max-width: 32%;
    padding-left: 1em;
    margin-bottom: 0.5em;
}
img.right-teeny {
    float: right;
    max-width: 20%;
    padding-left: 1em;
    margin-bottom: 0.5em;
}
img.right-wider {
    float: right;
    clear: both;
    max-width: 55%;
    padding-left: 1em;
    margin-bottom: 0.5em;
}
img.banner {
    max-width: 100%;
}
